/* src/pages/Home.css */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fafafa;
  padding: 2rem;
}

.slide-in {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  opacity: 0;
  transform: translateX(-100px);
  animation: slideIn 1s ease-out forwards;
  text-align: center;
  flex-wrap: wrap;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in2 {
  font-size: 1.1rem;
  color: #666;
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn2 1s ease-out forwards;
}
@keyframes slideIn2 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in3 {
  font-size: 1.5rem;
  color: #888;
  opacity: 0;
  transform: translateY(50px);
  animation: slideIn3 2s ease-out forwards;
}
@keyframes slideIn3 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  text-align: center;
  display: block;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; /* spacing between paragraphs */
}
